
<div id="statistics" class="statistics overall_statistics">
            <div id="selevtTxt" class="selevtTxt"></div>
            <div class="updevt">
		<div class="pshevent eventdv" id="Commits_event">
			<span class="pshtotal stat-value"></span>
			<span class="pshtxt stat-txt">Commits</span>
		</div>
		<div class="mgevent eventdv" id="Merge_event">
			<span class="mgetotal stat-value"></span>
			<span class="mgetxt stat-text">Merges</span>
		</div>
		<div class="issueevent eventdv" id="Issues_event">
			<span class="isuetotal stat-value"></span>
			<span class="isuetxt stat-text">Issues</span>
		</div>
		<div class="milesevent eventdv" id="Milestones_event">
			<span class="milestotal stat-value"></span>
			<span class="milestxt stat-text">Milestones</span>
		</div>
            </div>
            <div id="cmtStatistics_Graph">
            </div>
</div>

<div class="issue_statistics top_padd_issue statistics">
	<div class="selevtTxt">
		Issue Statistics
	</div>
	<hr class="hr_issue_statistics"></hr>
	<div class="issue_statistics_container" id="issues_type">
		<div class="issue_type_spn">
			<span class="isue_typetxt">Opened</span>
			<span class="isue_typetotal"></span>
			<span class="isue_typebar"></span>
			<span class="isue_typepercentage"></span>
		</div>
		<div class="issue_type_spn">
                        <span class="isue_typetxt">Closed</span>
                        <span class="isue_typetotal"></span>
                        <span class="isue_typebar"></span>
                        <span class="isue_typepercentage"></span>
                </div>
		<div class="issue_type_spn">
                        <span class="isue_typetxt">Reopened</span>
                        <span class="isue_typetotal"></span>
                        <span class="isue_typebar"></span>
                        <span class="isue_typepercentage"></span>
                </div>
	</div>
</div>

<div class="issue_statistics left_padd_issue statistics">
        <div class="selevtTxt">Issues Category Statistics
	</div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="created_vs_resolved">
        </div>
</div>

<div class="issue_statistics left_padd_issue statistics">
        <div class="selevtTxt">Opened Issues By Labels
        </div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="opened_label">
        </div>
</div>

<div class="issue_statistics top_padd_issue statistics">
        <div class="selevtTxt">Closed Issues By Labels
        </div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="closed_label">
        </div>
</div>

<div class="issue_statistics left_padd_issue statistics">
        <div class="selevtTxt">Opened Issues By Users
	</div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="opened_issues_users">
        </div>
</div>

<div class="issue_statistics left_padd_issue statistics">
        <div class="selevtTxt">Fixed Issues By Users
	</div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="fixed_issues_users">
        </div>
</div>

<div class="issue_statistics top_padd_issue statistics">
        <div class="selevtTxt">Opened Issues By Labels Of Users
        </div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="opened_issues_by_labels_users">
        </div>
</div>

<div class="issue_statistics left_padd_issue statistics">
        <div class="selevtTxt">Fixed Issues By Labels Of Users
        </div>
        <hr class="hr_issue_statistics"></hr>
        <div class="issue_statistics_container" id="fixed_issues_by_labels_users">
        </div>
</div>
